
@mixin heading {
    h1{
        font-size: 50px;
        font-weight: bold;
        color: #2c3a42;
    }

    h2{
        font-size: 55px;
        font-weight: bold;
        color: #ad6c12;
    }
}

@mixin heading2 {
    h1{
        font-size: 40px;
        color: #2a3b40;
        line-height: 40px;
        font-weight: bold;
    }

    h2{
        font-size: 40px;
        color: #ad6c12;
        line-height: 40px;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@mixin img-bg($para1){
    background-image:$para1;
    background-position: center center;
    background-size: cover;
    padding: 50px 0;
}